h1{
    text-align: center;
    color: white;
}

table{
    align-content: flex-end;
    width: 100%;
    padding-left: 20%;
}

td {
    height: 50px;
    vertical-align: bottom;
  }

a:link { text-decoration: none; }


