<app-header></app-header>
<div>
    <h1>Welcome !</h1>
</div>

<table class="1">
    <tr>
        <td>
            <a routerLink="/withdraw" style="color: white;">WithDarw Amount</a>
        </td>
        <td>
            <a routerLink="/deposit" style="color: white;">Deposit Amount</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/transfer" style="color: white;">Transfer Amount</a>
        </td>
        <td>
            <a routerLink="/transaction" style="color: white;">Transaction History</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/queries" style="color: white;">User Queries</a>
        </td>
        <td>
            <a routerLink="/password" style="color: white;">Change Password</a>
        </td>
       
    </tr>
    <tr>
        <td>
            <a routerLink="/balance" style="color: white;">Check Balance</a>
        </td>
      
       
    </tr>
</table>

