<app-header></app-header>
<div>
    <h1>Welcome!</h1>
</div>
<div class="content">
<table class="center">
    <tr>
        <td>
            <a routerLink="/create" style="color: white;">CreateNewAccount</a>
        </td>
        <td>
            <a routerLink="/modify" style="color: white;">Modify Account</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/delete" style="color: white;">Delete Account</a>
        </td>
        <td>
            <a routerLink="/freeze" style="color: white;">Freeze/UnFreeze Account</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/userqueries" style="color: white;">User Queries</a>
        </td>
        <td>
            <a routerLink="/createuser" style="color: white;">Create User</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/password" style="color: white;">Change Password</a>
        </td>
       
    </tr>
</table>
</div>
